In [1]:
import os

import psycopg2
from dotenv import load_dotenv

In [18]:
# Connect to the database
load_dotenv(".env", override=True)
DBUSER = os.environ["DBUSER"]
DBPASS = os.environ["DBPASS"]
DBHOST = os.environ["DBHOST"]
DBNAME = os.environ["DBNAME"]

In [19]:
conn = psycopg2.connect(database=DBNAME, user=DBUSER, password=DBPASS, host=DBHOST)
cur = conn.cursor()

In [39]:
cur = conn.cursor()
# cur.close()

In [20]:
cur.execute("CREATE TABLE restaurants (id SERIAL PRIMARY KEY,name VARCHAR(255) NOT NULL)")
cur.execute("INSERT INTO restaurants (id, name) VALUES ('3', 'test')")
conn.commit()

In [24]:
cur.execute("DELETE FROM restaurants WHERE id = 3")
conn.commit()

In [40]:
cur.execute("UPDATE restaurants SET id = id - 1")
conn.commit()

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block