In [1]:
import os

import psycopg2
from dotenv import load_dotenv

In [2]:
# Connect to the database
load_dotenv(".env", override=True)
DBUSER = os.environ["DBUSER"]
DBPASS = os.environ["DBPASS"]
DBHOST = os.environ["DBHOST"]
DBNAME = os.environ["DBNAME"]

In [3]:
conn = psycopg2.connect(database=DBNAME, user=DBUSER, password=DBPASS, host=DBHOST)
cur = conn.cursor()

In [4]:
# cur.close()

In [20]:
# cur.execute("CREATE TABLE restaurants (id SERIAL PRIMARY KEY,name VARCHAR(255) NOT NULL)")
# cur.execute("INSERT INTO restaurants (id, name) VALUES ('3', 'test')")
# conn.commit()

In [24]:
# cur.execute("DELETE FROM restaurants WHERE id = 3")
# conn.commit()

In [ ]:
# cur.execute("UPDATE restaurants SET id = id - 1")
# conn.commit()

In [10]:
cur.execute("""
    UPDATE customer_data SET phonenumber = 
    CASE 
        WHEN id = 1 THEN '1234567890'
        WHEN id = 2 THEN '0987654321'
        WHEN id = 3 THEN '0982345678'
        WHEN id = 4 THEN '1556633562'
        WHEN id = 5 THEN '0948722455'
        WHEN id = 6 THEN '5555908754'
        WHEN id = 7 THEN '4563423456'
        WHEN id = 8 THEN '6543287999'
        WHEN id = 9 THEN '9090131232'
        WHEN id = 10 THEN '1234352114'
        WHEN id = 11 THEN '6767234562'
    END;
""")
conn.commit()

In [11]:
cur.execute("SELECT phonenumber from customer_data")
conn.commit()

In [14]:
cur.execute(
    """
    UPDATE customer_data SET email = 
    CASE
        WHEN id = 1 THEN 'John@gmail.com'
        WHEN id = 2 THEN 'Jane@gmail.com'
        WHEN id = 3 THEN 'bob@gmail.com'
        WHEN id = 4 THEN 'alice@gmail.com'
        WHEN id = 5 THEN 'mike@gmail.com'
        WHEN id = 6 THEN 'sarah@gmail.com'
        WHEN id = 7 THEN 'tom@gmail.com'
        WHEN id = 8 THEN 'emily@gmail.com'
        WHEN id = 9 THEN 'david@gmail.com'
        WHEN id = 10 THEN 'linda@gmail.com'
        WHEN id = 11 THEN 'allanmogley@gmail.com'
    END;

    select name, email from customer_data
    """
)
conn.commit()