In [1]:
import os
from exif import Image
import pandas as pd

In [2]:
images = "images"
images_ = [os.path.join(images, x) for x in os.listdir(images) if x[-3:] == "JPG"]

In [3]:
# Create Export names
images_f = []
for name in images_:
    name = name[27:]
    name = name[:4] + name[22:]
    images_f.append(name)

len(images_f)
df = pd.DataFrame()
df["Name"] = images_f

In [84]:
xres = []
yres = []
resun = []
aperture = []
s_dist = []

for x in images_:
    with open(x, 'rb') as image_file:
        my_image = Image(image_file)
        xres.append(my_image.x_resolution)
        yres.append(my_image.y_resolution)
        resun.append(my_image.resolution_unit)
        aperture.append(my_image.aperture_value)
        s_dist.append(my_image.subject_distance_range)

df["yres"] = xres
df["xres"] = yres
df["Res. Unit"] = resun
df["Aperture"] = aperture
df["S_Dist"] = s_dist
df.head()

       Name  yres  xres  Res. Unit  Aperture  S_Dist
0  142_.JPG  72.0  72.0          2      2.97       0
1  143_.JPG  72.0  72.0          2      2.97       0
2  144_.JPG  72.0  72.0          2      2.97       0
3  145_.JPG  72.0  72.0          2      2.97       0
4  146_.JPG  72.0  72.0          2      2.97       0

In [ ]:
# for i in my_image:
df2 = pd.DataFrame.from_dict(my_image.get_all())

df2.head()

In [ ]:
my_image.__delitem__("scene_type")
my_image.__delitem__('components_configuration')
my_image.__delitem__('maker_note')
my_image.__delitem__('flashpix_version')
my_image.__delitem__('_interoperability_ifd_Pointer')
my_image.__delitem__('file_source')
my_image.get_all()

In [100]:
my_image.get_all().values()

dict_values(['DCIM\\DJI_202307251543_002_', 'DJI', 'EP800', <Orientation.TOP_LEFT: 1>, 72.0, 72.0, <ResolutionUnit.INCHES: 2>, 'v00.01.1845', '2023:07:25 15:54:02', 1, 182, 686, 'Type=N, Mode=S, DE=None\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00', 'v00.01.1845;1.3.0;v1.0.0\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00', 6, 10228, 10397, 0.000625, 2.8, <ExposureProgram.SHUTTER_PRIORITY: 4>, 500, '0230', '2023:07:25 15:54:01', '2023:07:25 15:54:01', 3.465063769621422, 10.632, 2.97, 0.0, 2.97, 0.0, <MeteringMode.CENTER_WEIGHTED_AVERAGE: 2>, <LightSource.DAYLIGHT: 1>, Flash(flash_fired=False, flash_return=FlashReturn.RESERVED, flash_mode=FlashMode.UNKNOWN, flash_function_not_present=False, red_eye_reduction_supported=False, reserved=0), 8.8, <ColorSpace.SRGB: 1>, 5472, 3648, 0, 0, <ExposureMode.AUTO_EXPOSURE: 0>, <WhiteBalance.AUTO: 0>, 0, 24, <SceneCaptureType.STANDARD: 0>, 0, 0, <Saturation.NORMAL: 0>, <Sharpness.NORMAL: 0>, 0, 'e80aadffcf7b43eb3d0d0fc91997196b', 2, 'S', (1.0, 5.0, 10.8008), 'E', (37.0, 0.0, 26.5759), <GpsAltitudeRef.ABOVE_SEA_LEVEL: 0>, 1526.266])

In [17]:
my_image.list_all()
# my_image.resolution_unit

63