In [1]:
import os
from exif import Image
import pandas as pd

In [2]:
images = "images"
images_ = [os.path.join(images, x) for x in os.listdir(images) if x[-3:] == "JPG"]

In [ ]:
lis = []
for x in images_:
    with open(x, 'rb') as image_file:
        my_image = Image(image_file)
        dat = my_image.get_all()
        lis.append(dat)
# lis

In [ ]:
df = pd.DataFrame(lis)
df[""] = df.index + 1
df.set_index("", inplace = True)

# df.info()
# df.isnull().sum()
df.head(10)

In [116]:
# Delete columns with only 1 Unique value
df2 = df
for col in df2.columns:
    if len(df2[col].unique()) == 1:
        df.drop(col,inplace=True,axis=1)

df2.nunique()
df2.head(10)

,datetime,jpeg_interchange_format_length,photographic_sensitivity,datetime_original,datetime_digitized,compressed_bits_per_pixel,light_source,gps_latitude,gps_longitude,gps_altitude
,,,,,,,,,,
1,2023:07:25 15:50:14,10530,250,2023:07:25 15:50:14,2023:07:25 15:50:14,3.352229,1,"(1.0, 5.0, 10.0902)","(37.0, 0.0, 26.06)",1526.248
2,2023:07:25 15:50:17,10438,250,2023:07:25 15:50:16,2023:07:25 15:50:16,3.267610,1,"(1.0, 5.0, 10.0275)","(37.0, 0.0, 26.1302)",1526.257
3,2023:07:25 15:50:19,10320,250,2023:07:25 15:50:19,2023:07:25 15:50:19,3.253560,1,"(1.0, 5.0, 9.9604)","(37.0, 0.0, 26.2063)",1526.279
4,2023:07:25 15:50:22,10412,200,2023:07:25 15:50:21,2023:07:25 15:50:21,3.200524,2,"(1.0, 5.0, 9.8996)","(37.0, 0.0, 26.2787)",1526.255
5,2023:07:25 15:50:24,10269,200,2023:07:25 15:50:24,2023:07:25 15:50:24,3.312147,2,"(1.0, 5.0, 9.8403)","(37.0, 0.0, 26.3529)",1526.255
6,2023:07:25 15:50:26,10366,200,2023:07:25 15:50:25,2023:07:25 15:50:25,3.289757,2,"(1.0, 5.0, 9.8232)","(37.0, 0.0, 26.4065)",1526.283
7,2023:07:25 15:50:27,10720,200,2023:07:25 15:50:26,2023:07:25 15:50:26,3.257762,2,"(1.0, 5.0, 9.8405)","(37.0, 0.0, 26.4365)",1526.290
8,2023:07:25 15:50:29,10442,160,2023:07:25 15:50:29,2023:07:25 15:50:29,3.236896,2,"(1.0, 5.0, 9.924)","(37.0, 0.0, 26.5114)",1526.288
9,2023:07:25 15:50:31,10644,160,2023:07:25 15:50:30,2023:07:25 15:50:30,3.221476,2,"(1.0, 5.0, 9.9837)","(37.0, 0.0, 26.5276)",1526.282
10,2023:07:25 15:50:32,10628,200,2023:07:25 15:50:31,2023:07:25 15:50:31,3.231061,2,"(1.0, 5.0, 10.0146)","(37.0, 0.0, 26.5071)",1526.296