In [9]:
import pandas as pd
import geopandas as gpd
import fiona

path = "Raw_Data/Jkuat_Raw.gpkg"
fiona.listlayers(path)

['BLDS', 'Bounds', 'Features', 'Roads', 'layer_styles']

In [68]:
gdf_bld = gpd.read_file(path, layer = "BLDS")
# gdf.head(10)

In [69]:
gdf2_bld = gdf_bld
for col in gdf2_bld.columns:
    if gdf2_bld[col].isnull().sum() > 300:
        gdf2_bld.drop(col, axis = 1, inplace = True)

gdf2_bld.drop(columns = ["osm_type","full_id", "osm_id"], axis = 1, inplace = True)

# gdf2_bld.isnull().sum()

In [70]:
gdf2_bld.head(30)

,name,building,geometry
0,Hall 6,yes,"MULTIPOLYGON (((37.01790 -1.09473, 37.01782 -1..."
1,Graduation Square,None,"MULTIPOLYGON (((37.01481 -1.09672, 37.01561 -1..."
2,None,None,"MULTIPOLYGON (((37.01051 -1.09376, 37.01051 -1..."
3,JKUAT swimming pool,None,"MULTIPOLYGON (((37.01497 -1.09191, 37.01520 -1..."
4,changing rooms,yes,"MULTIPOLYGON (((37.01498 -1.09154, 37.01503 -1..."
5,JKUAT Dam,None,"MULTIPOLYGON (((37.01781 -1.09377, 37.01896 -1..."
6,Hall 6 mess,yes,"MULTIPOLYGON (((37.01736 -1.09466, 37.01766 -1..."
7,Technology House(hall_7),commercial,"MULTIPOLYGON (((37.01650 -1.09453, 37.01685 -1..."
8,studeez,yes,"MULTIPOLYGON (((37.01618 -1.09429, 37.01643 -1..."
9,S.C.C,school,"MULTIPOLYGON (((37.01438 -1.09467, 37.01461 -1..."
10,Computer Building Faculty of Agriculture,school,"MULTIPOLYGON (((37.01352 -1.09427, 37.01393 -1..."
11,Food Science Building,yes,"MULTIPOLYGON (((37.01308 -1.09486, 37.01353 -1..."
12,Food Science Building,yes,"MULTIPOLYGON (((37.01358 -1.09479, 37.01394 -1..."
13,Common Lecture building (C.L.B),yes,"MULTIPOLYGON (((37.01390 -1.09528, 37.01423 -1..."
14,S.H.R.D building(school of human resource Depa...,yes,"MULTIPOLYGON (((37.01447 -1.09496, 37.01485 -1..."
15,JKUAT Administration Block A,yes,"MULTIPOLYGON (((37.01434 -1.09561, 37.01461 -1..."
16,JKUAT assembly hall,yes,"MULTIPOLYGON (((37.01488 -1.09538, 37.01519 -1..."
17,Nyayo park,None,"MULTIPOLYGON (((37.01478 -1.09588, 37.01521 -1..."
18,JKUAT Admin Block 2,yes,"MULTIPOLYGON (((37.01424 -1.09649, 37.01447 -1..."
19,Administration Building,construction,"MULTIPOLYGON (((37.01380 -1.09706, 37.01381 -1..."
20,E.M.B(Engineering Main Building),university,"MULTIPOLYGON (((37.01347 -1.09567, 37.01380 -1..."
21,Soil Lab (Civil Engineering Block),university,"MULTIPOLYGON (((37.01302 -1.09567, 37.01317 -1..."
22,Pine Park,None,"MULTIPOLYGON (((37.01342 -1.09570, 37.01423 -1..."
23,JKUAT Library,yes,"MULTIPOLYGON (((37.01502 -1.09672, 37.01502 -1..."
24,AICAD gym,yes,"MULTIPOLYGON (((37.01559 -1.09676, 37.01573 -1..."
25,JKUAT,None,"MULTIPOLYGON (((37.01590 -1.09606, 37.01617 -1..."
26,SUM,yes,"MULTIPOLYGON (((37.01653 -1.09614, 37.01685 -1..."
27,SUM,yes,"MULTIPOLYGON (((37.01688 -1.09620, 37.01719 -1..."
28,None,yes,"MULTIPOLYGON (((37.01538 -1.09582, 37.01566 -1..."
29,Serena Cafeteria,yes,"MULTIPOLYGON (((37.01525 -1.09545, 37.01525 -1..."